// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: #ffffff;
  background-color: #77b2ff;
  padding: 10px;
  border-radius: 20px;
}

body a {
  padding: 5px;
  margin: 10px;
}

select {
  width: 5%;
  height: 10vh;
  padding: 5px 10px;
  border: none;
  text-align: center;
  background-color: #f1f1f1;
}