// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.image_link {
  background-color: transparent;
  padding: 0px;
  margin: 0px;

  &:hover {
    background-color: transparent;
  }
}