body {
  background-color: #c8b9d3;
  color: #333;
  margin: 0px 0px 50px;
  text-align: center;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

li {
  padding: 0 1vw;
}

table {
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid #2f0d4b;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  color: #ffffff;
  background-color: #2f0d4b;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

.navbar {
  background-color: #2f0d4b;
  padding: 20px;
}

.navbar a {
  font-size: 22px;
  border-radius: 30px;
  padding: 5px 15px;
  margin: 15px;  
}

a:hover {
  color: #ffffff;
  background-color: #442066;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  background-color: #77ffdd;
  padding: 12px 16px;
  border-radius: 20px; 
}

.submit_button {
  background-color: #77ffdd;
  border: none;
  min-width: 10vw;
  border-radius: 20px;
  text-decoration: none;
  color: #000000;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;

  &:hover {
    color: #ffffff;
    background-color: #442066;
  }
}


th {
  padding-bottom: 5px; }

td {
  padding: 10px 15px 10px; }

h1 {
  padding: 20px;
  text-align: center;
}

#main_content {
  margin: 50px;
  padding: 10px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin: auto;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
