<%= simple_form_for(@gallery, local: true) do |f| %>
  <% if gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>
      <ul>
        <% gallery.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>

  <div class="field" id="gallery_title">
    <h3>Title: <%= f.input_field :title, :required => true %></h3>
  </div>

  <table id="photo_table">
  <% if defined? @all_photos %>
    <tr>
      <th>Image:</th>
      <% @all_photos.each do |photo| %>
        <td><%= image_tag photo.image.variant(resize_to_fit:[100,100]).processed %></td>
      <% end %>
    </tr>
    <tr>
      <th>ID:</th>
      <% @all_photos.each do |photo| %>
        <td><%= photo.id %></td>
      <% end %>
    </tr>
    </table>
    <div class="field" id="select_photos">
      <h3>Select Images:</h3>
      <%= f.select :linked_photo_ids, @all_photos.ids, {:placeholder => false, include_hidden: false, :required => true}, {:multiple => true, :value => :id} %>
      <p>*For Windows hold <code>CTRL</code>, for Mac hold <code>CMD</code> to select multiple images</p>
  </div>
  <% end %>

  <div class="actions" >
    <%= f.button :submit, class:"submit_button" %>
  </div>
<% end %>
