<p id="notice"><%= notice %></p>

<h1>Galleries</h1>

<p>
  <h3>Sort by:</h3>
  <%= link_to "Title Asc", galleries_path(order: 'title_asc') %>
  <%= link_to "Title Desc", galleries_path(order: 'title_desc') %>
  <%= link_to "Users", galleries_path(order: 'users') %>
<p>


<table>
  <thead>
    <tr>
      <th>Title:</th>
      <th>Created By:</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% i = 0 %>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= gallery.title %></td>
        <td><%= @users[i].email %></td>
        <% i += 1 %>
        <td><%= link_to 'View', gallery %></td>
        <% if user_signed_in? %>
          <% if gallery.user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
            <td><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>