<p id="notice"><%= notice %></p>

<h1><%= @gallery.title %></h1>

<h2>Images:</h2>
<% @photos.each do |photo| %>
  <% if photo.image.attached? %>
    <%= link_to(image_tag(photo.image.variant(resize_to_fit: [200,200]).processed), photo.image_attachment, class:"image_link") %>
  <% end %>
<% end %>


<p><%= link_to "Slideshow", "#{@gallery.id}/slideshow" %></p>
<p><%= link_to 'Back', galleries_path %></p>