<!DOCTYPE html>
<html>
  <head>
    <title>ImageGallery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class = "navbar">
      <li>
        <%= link_to :root, title: "Go to the home page" do %>Home<% end %>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to :new_gallery, title: "New Gallery page" do %>New Gallery<% end %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li>
          <%= link_to :new_photo, title: "New Photo page" do %>Upload Photo<% end %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li>
          <%= link_to :photos, title: "Manage Photo page" do %>Manage My Photos<% end %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li>
          <%= link_to :destroy_user_session, method: :delete, title: "Log out of the system" do %>Log Out<% end %>
        </li>
      <% end %>
      <% if !user_signed_in? %>
        <li>
          <%= link_to :photos, title: "Sign In" do %> Login <% end %>
        </li>
      <% end %>
    </ul>
    <%= yield %>

    <footer>
      <p><strong>Daniel Tebbutt &copy 2021 </strong><%= link_to 'https://gitlab.com/d-tebbs/imagegallery' do %>GitLab<% end %></p>
    </footer>
  </body>
</html>
