<%= form_with(model: photo, local: true) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
        <% photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id %> 

  <div class="field">
    <h3>Pick Image:</h3>
    <%= form.file_field :image, :required => true, class:"submit_button" %>
  </div>

  

  <div class="actions">
    <%= form.submit :class => "submit_button" %>
  </div>
<% end %>
