<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
      <% if user_signed_in? %>
        <% if photo.user_id == current_user.id %>  
          <td><% if photo.image.attached? %>
            <%= link_to(image_tag(photo.image.variant(resize_to_fit: [100,100]).processed), photo.image_attachment, class:"image_link") %>
          <% end %></td>
          <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
          <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
