<p id="notice"><%= notice %></p>

<p>
  <strong>Photo ID:</strong> <%= @photo.id %> | <strong>User ID:</strong> <%= @photo.user_id %>
</p>
<p>
  <strong>Image:</strong>
  <br>
  
  <%= image_tag @photo.image %>
  
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
